@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'PT Sans', sans-serif;
    color: #707070;
}

html,
body,
.fill-screen {
    min-height: 100vh;
    min-width: 100vw;
}